  * {
      margin: 0;
      padding: 0;
      display: block;
  }
  
  body {
      border: 3px solid black;
      padding: 30px 30px;
      margin: 20px;
      font-family: Arial, sans-serif;
  }

  /* header */
  h1 {
      
  }

  /* main */
  main {
      width: 100%;
  }

  h2 {
      
  }
  
  .container {
      border-color: hsl(0, 0%, 75%);
      border-style: solid;
      border-width: 2px;
      padding: 10px;
      margin: 30px 0;
      width: 100%;
  }

  .container-header {

}
  
  .color-panel {
      display: inline-block;
      width: 33%;
      margin: 10px 3px;
      text-align: center;
  }
  
  .color-label {
      font-weight: bold;
  }
  
  .color-hsl {
    
  }
  
  .color-description {
      font-style: italic;
  }

  /* Specific Panels */
  .black {
      background-color: hsla(0, 0%, 0%, 0.5);
  }

  .gray {
      background-color: hsl(0, 0%, 75%);
  }